html {
scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
q {
  quotes: '\201c' '\201d';
}

ul {
  list-style: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.hamburger {
  display: none;
}

.nav__menu {
  background-color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
}

.nav__menu a {
  display: inline-block;
  color: #5363db;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin-top: 50px;
  margin-right: 30px;
  justify-content: center;
}

.nav__menu a:after {
  display: block;
  content: "";
  background-color: #5363db;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
.link-hover-center a:hover:after,
.link-hover-center a:focus:after {
  width: 50%;
}
.nav__menu a:hover::after {
  width: 50%;
}

.nav-menu a:last-child {
  padding-right: 0px;
}

.nav__menu a:hover {
  color: #5363db;
}

.logo {
  padding: 5px 150px 10px 120px;
}
.logo img {
  padding-left: 14px;
}
.logo h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #5363db;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 5px;
}

.cta-section {
  display: flex;
  justify-content: center;
  height: auto;
  background-size: cover;
  background-image: url(../img/slider-bg.jpg);
  padding: 100px 50px;
}
.cta-section__form {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 30px;
}

.cta-section__form h2 {
  font-size: 25px;
  color: #5363db;
}

.cta-section__form__text-input,
.cta-section__form select {
  width: 100%;
  margin: 10px 0px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background-color: #f2f2f2;
  color:#888888;
  padding: 15px 10px;
}

.cta-section__button {
  width: 150px;
  background-color: #5363db;
  color: #fff;
  margin-left: 90px;
  margin-top: 20px;
}

.cta-section__button:hover {
  background-color: #192eca;
}

.cta-section__title-holder {
  margin-left: 90px;
}

.cta-section__title {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  text-transform: uppercase;
}
.cta-section__subtitle {
  color: #fff;
  font-family: 'Fasthand', cursive;
  font-size: 40px;
  font-weight: 200;
}

.classes__title {
  color: #5b6ceb;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  line-height: 1;
}

.classes__subtitle {
  color: #777777;
  font-family: 'Fasthand', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 75px;
}

.cards__holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cards-item {
  display: flex;
  width:calc(50% - 60px);
  margin:15px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.card img {
  object-fit: cover;
}

.card__text {
  padding: 20px 20px;
}

.card__text h2 {
  color: #777777;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
}

.card__text p {
  color: #8e8e8e;
}

.card__text a {
  text-decoration: none;
  color: #b1b1b1;
}

.card__text a:hover {
  color: #181717;
}

.section {
  background-color: #f0efef;
  padding: 130px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gallery__image-link {
  display: flex;
  width: 25%;
  position: relative;
  background-color: #6f7ce2;
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  background-size:60px 60px;
  background-position: 50% 50%;
}

.gallery__image {
  width: 100%;
  height: auto;
}

.gallery__image:hover {
opacity: 0.3;
transition: 0.5s;
}

.about-us__slider {
  width:40%;
  position: relative;
}

.about-us__slider .swiper-button-prev {
  left: -40px;
}

.about-us__slider .swiper-button-next {
  right: -40px;
}

.about-us {
  display: flex;
  vertical-align: top;
  margin-bottom: 130px;
  padding-top: 120px;
}

.about-us__desc {
  width: 465px;
  margin-right: 130px;
}

.about-us__desc h3 {
  font-family:"Open Sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #5b6ceb;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.about-us__desc p {
  color:#555555;
  line-height: 22px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color:rgba(255, 255, 255, 0.8);
  width:60px;
  height: 60px;
  border-radius:50%;
} 


.features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  background-image: url(../img/bg-features.jpg);
  background-size:cover;
  padding: 100px 40px;
}

.features__item {
  width: 25%;
  text-align: center;
  line-height: 27px;
  color: #fff;
  padding: 30px;
}

.features__item h3 {
  font-size: 18px;
  font-weight: bold;
}

.features__item p {
  font-size: 16px;
}

.prices {
  background-color:#f0efef;
  padding: 100px;
  display: flex;
  justify-content: center;
}

.prices__card {
  width: 370px;
  height: 500px;
  background-color:#FFF;
  border-radius:30px;
  overflow: hidden;
  margin-left: 30px;
}

.prices__card:first-child {
  margin-left: 0;
}

.prices__card-top {
  background-color: #5b6ceb;
  height: 150px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.prices__card-top h3 {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
 
}

.prices__card-price {
  font-size: 68px;
  
}

.prices__card-currency {
  font-size: 32px;
  vertical-align:super;
}

.prices__card ul {
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  color:#555555;
  text-transform: uppercase;
  list-style: none;
  text-align:center;
  padding: 0;
}

.prices__card li {
  padding: 20px;
  position: relative;
}

.prices__card li::after {
  content: '';
  width:100px;
  height: 2px;
  background-color:#d7d7d7;
  position: absolute;
  top: 100%;
  left:30%;
  right: auto;
}

.prices__card li:last-child::after {
  content:none !important;
  width:100px;
  height: 2px;
  background-color:#d7d7d7;
  position: absolute;
  top: 100%;
  left:30%;
  right: auto;
}

.prices__card hr {
  width:30%;
  background-color:#d7d7d7;
}

.prices__card-btn {
  width: 170px;
  height: 50px;
  background-color: #5b6ceb;
  border-radius:15px;
  overflow: hidden;
  border: 1px solid #5b6ceb;
  font-size: 18px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.prices__card-btn:hover {
  background-color: #5363db;
  transition: 0.3s;
}



.section {
  background-color: #f0efef;
}

.trainer__container {
  position: relative;
  display: flex;
}

.trainer {
  display: flex;
  padding: 60px 60px;
  margin: 0 auto;
  background-color: #fff;
  border-radius:20px;
  position: relative;

}

.trainer__swiper {
  position: relative;
  display: flex;
}

.image__wrapper {
  width: 160px;
  height: 160px;
  border: 1px solid #dbdbdb;
  border-radius:50%;
  margin-left: 70px;
  margin-top: 40px;
}

.trainer img {
 width: 160px;
 height: 160px;
 padding: 10px; 
  overflow: hidden;
  border-radius:50%;
}

.trainer blockquote {
  display: block;
  font-size: 15px;
  margin: 0;
  padding: 0;
  position: relative;
}

.trainer blockquote::before, 
.trainer blockquote::after {
  position: absolute; 
  font-size: 25pt; 
  color: #aaa; 
}
.trainer blockquote::before {
  content: '\201c';
  top: 10px; 
  left: -40px; 
  font-size:60px;
  color: #5b6ceb;
}

.trainer blockquote::after {
  content: '\201d';
  font-size:60px;
  color: #5b6ceb;
  bottom: -40px; 
  right: -10px;
}

.trainer__text {
  width: 70%;
  margin: 40px 60px;
  line-height: 22pt;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 12px;
}
.trainer-title {
  position: relative;
}

.trainer-title::before {
 content: "|";
 position: absolute;
 left: -60px;
 top: -25px;
 font-size: 110px;
 color:#d7d7d7;
 font-weight:100;
}

.trainer__text h4 {
margin-top: 40px;
font-size: 18px;
color:#a2a2a2;
margin-bottom: 10px;
}

.trainer__text h3 {
  color:#5b6ceb;
  margin: 0;
}

.trainer__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto;
  left: auto;
  right: -80px;
  width: 100%;
  top: 50%;
  max-width: 100px;
  transform: rotate(90deg);
}
.trainer__pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}


.next-trainer-slider-block {
  position: relative;
  top: -45px;
}

.next-trainer-slider {
  width:30%; 
}

.next-trainer__slide {
  display: flex;
  justify-content: center;
}

.next-trainer__slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #dbdbdb;
}

.next-trainer__title {
  margin-left: 10px;
  color: #000;
}

.next-trainer__name {
  line-height: 1; 
  margin-top: 20px;
  margin-bottom: 0;
}
.next-trainer__position {
  color:#555555;
  margin-top: 15px;
  margin-bottom: 0;
}

.next-trainer-slider-btn-prev,
.next-trainer-slider-btn-next {
background-color:rgba(255, 255, 255, 0.8);
width:30px;
height: 30px;
border-radius:50%;
}

.next-trainer-slider-btn-prev::after,
.next-trainer-slider-btn-next::after {
 font-size: 18px;
 font-weight: bold;
}

.footer-top {
  display: flex;
  justify-content: center;
  background-color: #5b6ceb;
  color: #fff;
  padding: 100px;
}

.footer-top__about p {
  width: 70%;
}

.footer-top h3 {
  font-size: 18px;
  text-transform: uppercase;

}

.footer-top__about {
  width: 40%;
}

.footer__about__socials {
  margin-top: 70px;
  margin-bottom: 70px;
}
.footer__about__socials i {
margin-right: 15px;
color: #fff;
font-size: 22px;
}


.footer-top__contact-us {
  width: 50%;
}

.contact-us__links {
  display: flex;
  flex-wrap: wrap;
}

.contact-us__link {
  width: 50%;
  
}

.contact-us__link__phone  {
  margin-left: 37px;
} 
.fa-phone {
  position: relative;
  left: 0;
  top: 10px;
}

.contact-us__link a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.contact-us__link i {
 padding-right: 15px;
 vertical-align: baseline;
}

.fa-map-location-dot::before { 
  position:relative;
  left: 0px;
  top: 10px;
}

.contact-us__address {
  margin-left: 38px;
}

.fa-solid,
.fa-regular {
  font-size: 18px;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  background-color: #5363d8;
  color: #b7bffc;
  text-align: center;
  font-size: 16px;
}

